.NEPHRITIS {
    color: #27AE60
}
.white{color: #ffffff !important}
h2{font-size: 42px !important}
.dark{background: #2c3e50 !important; color: #ffffff !important}
.lite, .tile{background: #34495e !important; color: #f2f2f2 !important}
#container {
    padding: 10px
}
.topHeader{
    margin-bottom: 20px;
        background-color: #eff0f2;
    padding: 10px;
    margin-top: -10px;
    border-bottom: 1px solid #dedede;
}
.palette{
    border-radius: 5px;
}
.displaynone{display: none}
table td, table th{font-size: 13px !important}
.todo li:first-child
{
    border-radius: 6px;
}
.todo ul{
    border-radius:6px 6px 6px 6px !important;
}
.tile{cursor: pointer;}
.fix
{margin-left: -15px !important; width: 102% !important}
.green
{
    color:#2ecc71 !important;
}
.todo-name
{
    margin-top:10px !important;
}
.ro {
    position: absolute;

    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/*.row {
    margin-bottom: 10px
}*/

.todo li.todo-done:after,
.todo li:after {
    display: none
}
.centerText{text-align: center !important;}
#refresh{margin-top: 30px}
.pallete-item {
    width: 90% !important;
}

.todo ul {
    height: 880px
}
#footer{text-align: center;margin:10px -10px -10px -10px !important; padding:20px 0px 20px 0px; border-top: solid 1px #dedede; 
    background-color:#eff0f2 ;   }


/*Overwriting font awesome css */

.fa-2x {
    font-size: 1.5em !important;
}

.inline {
    display: inline-block;
}

.todo li:after {
    display: none !important;
}

.sterlingMainDash .col-xs-12 {
    width: 99.5%;
}

.demo-logo {
    font: 900 80px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
    margin: 10px 0;
}

.pallete-item .palette-carrot:hover {
    box-shadow: inset 0 0 0 5px #E69247;
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
}

.palette-alizarin:hover {
    box-shadow: inset 0 0 0 5px #F91B04;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.palette-emerald:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@media screen and (min-width: 48em)
.pure-u-md-1-2, .pure-u-md-12-24 {
    width: 30%;
}

.todo-content {
    padding-top: 12px !important;
    overflow: hidden;
}

.floatRight {
    float: right;
    margin-right: 16%;
}

.floatLeft {
    margin-left: 13%;
}


h6.countQueue {
    position: relative;
    margin-top: -2%;
    font-size: 18px;
}

h6.guageQueue {
    position: relative;
    font-size: 18px;
    text-align: center;
}

.todo-done h4.todo-name {
    font-size: 22px;
}


h6.threshold{
    position: relative;
    font-size: 14px;
    text-align: center;    
}