<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<!-- Loading scratcipts -->


<!-- Loading CSS -->
<!-- Loading Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Load app stlye sheet -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<link href="css/c3.min.css" rel="stylesheet" type="text/css" />
<!-- Loading Flat UI -->
<link href="css/flat-ui.css" rel="stylesheet">


<body>
    <div id="container" ng-controller="homeController">
        <div class="row topHeader dark" ng-click="openComponent('Main')">
            <div class="col-xs-1">
                <a href="#">
                    <img src="images/thd-logo.png" style="width:100px" />
                </a>
            </div>
            <div class="col-xs-8">
                <h2 class="white">COM Infrastructure Health</h2></div>
            <div class="col-xs-3">
                <div id="refresh">
                   <!-- <i class="fa fa-2x fa-refresh ro green" aria-hidden="true"></i> -->
                     Last updated on <span class="countDown_text" >11.42 AM</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="todo">
                    <ul>
                        <li ng-click="openComponent('Main')" ng-class="(tabItem == 'Main') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-tachometer" aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    Dashboard
                  </h4>
                            </div>
                        </li>
                        <li ng-click="openComponent('Sterling')" ng-class="(tabItem == 'Sterling') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-server" aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    Sterling
                  </h4>
                            </div>
                        </li>
                        <li ng-click="openComponent('Stores')" ng-class="(tabItem == 'Stores') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-shopping-cart" aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    Stores
                  </h4>
                            </div>
                        </li>
                        <li ng-click="openComponent('Com')" ng-class="(tabItem == 'Com') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-cogs " aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    COM
                  </h4>
                            </div>
                        </li>
                        <li ng-click="openComponent('db')" ng-class="(tabItem == 'db') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-database" aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    DB
                  </h4>
                            </div>
                        </li>
                        <li ng-click="openComponent('Messaging')" ng-class="(tabItem == 'Messaging') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-list-alt" aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    MQ
                  </h4>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.todo -->
            </div>
            <!-- /.col-xs-4 -->
            <div class="col-xs-9">
                <!-- Main dashboard -->
                <div class="row mainContents" ng-show="showItem =='Main'">
                    <div class="col-xs-12">
                        <div class=" sterlingMainDash col-xs-12 fix" ng-click=openComponent('Sterling')>
                            <div class="tile " style="height:160px; ">
                                <h4 class="demo-panel-title white">Sterling</h4>
                                <div class="col-xs-3">
                                    <div class="pallete-item">
                                        <dl class="palette" ng-class="choseHealthColor(sterlingConnectionCountHealthStatus)">
                                            <dt>Connection count</dt>
                                            <dd class="inline"><i class="fa" ng-class="choseHealthIcon(sterlingConnectionCountHealthStatus)" aria-hidden="true"></i></dd>
                                            <dd class="inline">{{sterlingConnectionCountHealthStatus}}</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="pallete-item faa-parent animated-hover">
                                        <dl class="palette" ng-class="choseHealthColor(sterlingProbeHealthStatus)">
                                            <dt>Probe Failure</dt>
                                            <dd class="inline">
                                                <i class="fa" ng-class="choseHealthIcon(sterlingProbeHealthStatus)" aria-hidden="true"></i>
                                            </dd>
                                            <dd class="inline">{{sterlingProbeHealthStatus}}</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="pallete-item">
                                        <dl class="palette" ng-class="choseHealthColor(sterlingSpaceHealthStatus)">
                                            <dt>Space availability</dt>
                                            <dd class="inline">
                                                <i class="fa" ng-class="choseHealthIcon(sterlingSpaceHealthStatus)" aria-hidden="true"></i>
                                            </dd>
                                            <dd class="inline">{{sterlingSpaceHealthStatus}}</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="pallete-item">
                                        <dl class="palette" ng-class="choseHealthColor(sterlingAgentHealthStatus)">
                                            <dt>Agents</dt>
                                            <dd class="inline">
                                                <i class="fa" ng-class="choseHealthIcon(sterlingAgentHealthStatus)" aria-hidden="true"></i>
                                            </dd>
                                            <dd class="inline">{{sterlingAgentHealthStatus}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tile" ng-click="openComponent('Stores')">
                            <h4 class="demo-panel-title white">Stores</h4>
                            <div id="donutchartForStoreMainDash" style="width: 100%; height: 250px;">
                                <loading></loading>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tile" ng-click="openComponent('Com')">
                            <h4 class="demo-panel-title white">COM</h4>
                            <div id="donutchartForComMainDash" style="width: 100%; height: 250px;">
                                <loading></loading>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tile" ng-click="openComponent('db')">
                            <h4 class="demo-panel-title white">Database</h4>
                            <div id="donutchartForDBMainDash" style="width: 100%; height: 250px;">
                           
                               <loading></loading>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tile" ng-click="openComponent('Messaging')">
                            <h4 class="demo-panel-title white">MQ</h4>
                            <div id="donutchartForMQMainDash" style="width: 100%; height: 250px;">
                                <loading></loading>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row sterlingContents" ng-show="showItem == 'Sterling'">
                   
                        <div class="col-xs-4 centerText" >
                            <h4 class="">Connection Counts</h4>
                            
                                <c3chart bindto-id="connectionCount-chart" chart-data="connectionCountDonutsPts" chart-columns="connectionCountDonutColumns" sort-data="null">
                                    <chart-legend show-legend="true" />
                                    <chart-donut expand="true" show-label="true" title="" label-format-function="formatDonut" />
                                </c3chart>
                            
                        </div>
                              <div class="col-xs-4 centerText">
                            <h4 class="">Probe Failure</h4>
                            
                                <c3chart bindto-id="probeFailure-chart" chart-data="probeFailureCountDonutsPts" chart-columns="probeFailureCountDonutColumns" sort-data="null">
                                    <chart-legend show-legend="true" />
                                    <chart-donut expand="true" width="60" show-label="true" title="" label-format-function="formatDonut" />
                                </c3chart>
                            
                        </div>
                        <div class="col-xs-4 centerText">
                            <h4>Space availability</h4>
                            
                                <c3chart bindto-id="spaceAvailabiityCount-chart">
                                    <chart-column column-id="Availability > 80" column-values="70" column-type="pie" column-color="#e74c3c" />
                                    <chart-column column-id="60 < Availability < 80" column-values="35" column-type="pie" column-color="#e67e22" />
                                    <chart-column column-id="Availability < 60" column-values="60" column-type="pie" column-color="#2ecc71" />
                                    <chart-pie expand="true" />
                                </c3chart>
                            
                        </div>
                  
                   
                    <div class="col-xs-12" style="margin-top:15px">
                        <h4 class="demo-panel-title">Agents</h4>
                        <c3chart bindto-id="stacked-bar-plot1-chart" style="width: 100%; height: 250px;">
                            <chart-column column-id="data 1" column-name="Agent Down" column-color="#e74c3c" column-values="30,2,10,4,10,5,12,12,4" column-type="bar" />
                            <chart-column column-id="data 2" column-name="Agent Up" column-color="#2ecc71" column-values="50,20,10,40,15,25,122,122,12" column-type="bar" />
                            <chart-group group-values="data 1,data 2" />
                        </c3chart>
                    </div>
                </div>
                <div class="row comContents" ng-show="showItem == 'Com'">
                    <div class="col-xs-6 centerText">
                        <h4 class="centerText">COM Order JVM</h4>
                        <div class="chartcontainer">
                            <c3chart bindto-id="comOrder-chart" chart-data="comOrderDonutsPts" chart-columns="comOrderDonutColumns" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-donut expand="true" width="60" show-label="true" title="Servers" label-format-function="formatDonut" />
                            </c3chart>
                        </div>
                    </div>
                    <div class="col-xs-6 centerText">
                        <h4 class="centerText">COM Inventory JVM</h4>
                        <div class="chartcontainer">
                            <c3chart bindto-id="comInventory-chart" chart-data="comInventoryDonutsPts" chart-columns="comInventoryDonutColumns" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-donut expand="true" width="60" show-label="true" title="Servers" label-format-function="formatDonut" />
                            </c3chart>
                        </div>
                    </div>
                    <div class="batchSessionChart">
                        <h4 class="centerText">Batch Session</h4>
                        <c3chart bindto-id="batchSession-gauge-chart" chart-data="batchSessionGaugePts" chart-columns="batchSessionGaugeColumn">
                            <chart-gauge min="0" max="12000" units=" sessions" width="40" label-format-function="formatDonut" />
                        </c3chart>
                        <h6 class="guageQueue">Pending supply loader batch sessions</h6>
                        <h6 class="threshold">Green - Session < 5000, Amber - 5000 < Session < 10000, Red - Session > 10000</h6>
                    </div>
                </div>
                <div class="row dbContents" ng-show="showItem == 'db'">
                    
                    <div class="col-xs-4 centerText" id="dbSGreen">
                        <h4 >Sterling DB</h4>
                        <div>
                            <c3chart bindto-id="sterlingDB-chart" chart-data="sterlingDbDonutsPts" chart-columns="sterlingDbColumns" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-pie expand="true" width="60" show-label="true" title="delta" />
                            </c3chart>
                        </div>
                    </div>
                    <div class="col-xs-4 centerText" id="dbCGreen">
                        <h4>ODS DB</h4>
                        <div>
                            <c3chart bindto-id="odsDB-chart" chart-data="odsDbDonutsPts" chart-columns="odsDbColumns" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-pie expand="true" width="60" show-label="true" title="delta" />
                            </c3chart>
                        </div>
                    </div>
                    <div class="ggReplicationChart col-xs-4" id="ggReplication">
                        <h4 class="centerText">GG Replication</h4>
                        <h6 class="countQueue ng-binding centerText" style="margin-top:8px">[ Lag time ]</h6>
                        <c3chart bindto-id="ggReplication-gauge-chart" chart-data="ggReplicaGaugePts" chart-columns="ggReplicaGaugeColumn">
                            <chart-gauge min="0" max="180" units=" mins" width="40" label-format-function="formatDonut" />
                        </c3chart>

                       
                        <h6 class="threshold">Green -  30 mins, Amber - 30-90 mins, Red -  90 mins</h6>
                    </div>
 <div class="col-xs-12">&nbsp;</div>
    <div class="displaynone" id="dbSRed" style="margin-top:20px">
                        <div class="col-xs-12">
                            <h4 class="centerText">Sterling DB</h4>
                            <b class="smallB">Long Running Sessions ( &gt; 3 mins )</b>
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>SID</th>
                                    <th>INST_ID</th>
                                    <th>MACHINE</th>
                                    <th>SQL_ID</th>
                                    <th>MODULE</th>
                                    <th>USERNAME</th>
                                    <th>LOGON_TIME</th>
                                    <th>OSUSER</th>
                                    <th>STATUS</th>
                                    <th>DURATION (sec)</th>
                                </tr>
                                <tr ng-repeat="x in longSessions">
                                    <td>{{ x.SID }}</td>
                                    <td>{{ x.INST_ID }}</td>
                                    <td>{{ x.MACHINE }}</td>
                                    <td>{{ x.SQL_ID }}</td>
                                    <td>{{ x.MODULE }}</td>
                                    <td>{{ x.USERNAME }}</td>
                                    <td>{{ x.LOGON_TIME }}</td>
                                    <td>{{ x.OSUSER }}</td>
                                    <td>{{ x.STATUS }}</td>
                                    <td>{{ x.DURATION }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-xs-12">
                            <b class="smallB">Blocking Locks Sessions ( &gt; 2 mins)</b>
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>BLOCKER_CLIENT_INFO</th>
                                    <th>BLOCKER_STATUS</th>
                                    <th>MACHINE</th>
                                    <th>BLK_SESS</th>
                                    <th>BLOCKER</th>
                                    <th>BLOCKER_MODULE</th>
                                    <th>DURATION (min)</th>
                                    <th>BLOCKED_OBJECT</th>
                                </tr>
                                <tr ng-repeat="y in blockSessions">
                                    <td>{{ y.BLOCKER_CLIENT_INFO }}</td>
                                    <td>{{ y.BLOCKER_STATUS }}</td>
                                    <td>{{ y.MACHINE }}</td>
                                    <td>{{ y.BLK_SESS }}</td>
                                    <td>{{ y.BLOCKER }}</td>
                                    <td>{{ y.BLOCKER_MODULE }}</td>
                                    <td>{{ y.DURATION }}</td>
                                    <td>{{ y.BLOCKED_OBJECT }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="displaynone" id="dbCRed" style="margin-top:20px">
                        <div class="col-xs-12">
                            <h4 class="centerText">ODS DB</h4>
                            <b class="smallB">Long Running Sessions ( &gt; 3 mins )</b>
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>SID</th>
                                    <th>INST_ID</th>
                                    <th>MACHINE</th>
                                    <th>SQL_ID</th>
                                    <th>MODULE</th>
                                    <th>USERNAME</th>
                                    <th>LOGON_TIME</th>
                                    <th>OSUSER</th>
                                    <th>STATUS</th>
                                    <th>DURATION (sec)</th>
                                </tr>
                                <tr ng-repeat="x in longSessionsCOM">
                                    <td>{{ x.SID }}</td>
                                    <td>{{ x.INST_ID }}</td>
                                    <td>{{ x.MACHINE }}</td>
                                    <td>{{ x.SQL_ID }}</td>
                                    <td>{{ x.MODULE }}</td>
                                    <td>{{ x.USERNAME }}</td>
                                    <td>{{ x.LOGON_TIME }}</td>
                                    <td>{{ x.OSUSER }}</td>
                                    <td>{{ x.STATUS }}</td>
                                    <td>{{ x.DURATION }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="row storesContents" ng-show="showItem == 'Stores'">
                    <div class="col-xs-6 centerText">
                        <h4>Local Store</h4>
                        <div>
                            <c3chart bindto-id="localStore-pie-chart" chart-data="localStoreDonutsPts" chart-columns="donutColumnsLocal" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-donut expand="true" width="60" show-label="true" title="" label-format-function="formatDonut" />
                            </c3chart>
                        </div>
                    </div>
                    <div class="col-xs-6 centerText">
                        <h4>Un synched Deltas</h4>
                        <div>
                            <c3chart bindto-id="unSyncDelta-pie-chart" chart-data="unSyncDeltaDonutsPts" chart-columns="unpieColumns" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-pie expand="true" width="60" show-label="true" title="delta" label-format-function="formatDonut" />
                            </c3chart>
                        </div>
                    </div>
                </div>
                <div class="row messagingContents" ng-show="showItem == 'Messaging'">
                    <div class="col-xs-6 centerText">
                        <h4>COM Queue Depth</h4>
                        <h6 class="countQueue">[ {{comQueueCount}} queues ]</h6>
                        <div>
                            <c3chart bindto-id="comQueue-chart" chart-data="comQueueDonutsPts" chart-columns="comQueuePieColumns" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-pie expand="true" width="60" show-label="true" title="delta" label-format-function="formatDonut" />
                            </c3chart>
                        </div>
                    </div>
                    <div class="col-xs-6 centerText">
                        <h4>Sterling Queue Depth</h4>
                        <h6 class="countQueue">[ {{sterlingQueueCount}} queues ]</h6>
                        <div>
                            <c3chart bindto-id="sterlingQueue-chart" chart-data="sterlingQueueDonutsPts" chart-columns="sterlingPieColumns" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-pie expand="true" width="60" show-label="true" title="delta" label-format-function="formatDonut" />
                            </c3chart>
                        </div>
                    </div>
                    <br>
                    <div class="col-xs-12 transmitQueueChart">
                        <h4 class="centerText">Transmit Queue</h4>
                        <c3chart bindto-id="transmitQueue-gauge-chart" chart-data="transmitGaugePts" chart-columns="transmitGaugeColumn">
                            <chart-gauge min="0" max="100000" units=" messages" width="40" label-format-function="formatDonut" />
                        </c3chart>
                        <h6 class="guageQueue">Current transit Q depth {{transmitQueueDepth}} in {{transmitQueueCount}} queues</h6>
                        <h6 class="threshold">Green - Queue < 2500, Amber - 2500 < Queue < 8000, Red - Queue > 8000</h6>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row lite" id="footer">
            <small>(C) The Home Depot</small>
            <br>
            <small>More saving. More doing.&#174;</small>
        </div>
    </div>

    <script src="js/lib/d3.min.js" charset="utf-8"></script>
<script src="js/lib/c3.min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/jquery-1.9.1.min.js"></script>
<script src="js/lib/c3-angular.min.js"></script>
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/homeController.js"></script>
</body>

</html>
