<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<!-- Loading scripts -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="js/lib/d3.min.js" charset="utf-8"></script>
<script src="js/lib/c3.min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/c3-angular.min.js"></script>
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<!-- Loading CSS -->
<!-- Loading Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Load app stlye sheet -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="bower_components/font-awesome-animation/dist/font-awesome-animation.min.css">
<link href="css/c3.min.css" rel="stylesheet" type="text/css" />
<!-- Loading Flat UI -->
<link href="css/flat-ui.css" rel="stylesheet">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

<body>
    <div id="container" ng-controller="homeController">
        <div class="row topHeader" ng-click="openComponent('Main')">
            <div class="col-xs-1">
               <a href="index.html"> 
                <img src="images/thd-logo.png" style="width:100px" />
            </a>
            </div>
            <div class="col-xs-11">
                <h1 >COM Infrastructure Health</h1></div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="todo">
                    <ul>
                        <li ng-click="openComponent('Sterling')" ng-class="(tabItem == 'Sterling') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-server" aria-hidden="true"></i>
                                
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    Sterling
                  </h4> Description
                            </div>
                        </li>
                        <li ng-click="openComponent('Stores')" ng-class="(tabItem == 'Stores') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-shopping-cart" aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    Stores
                  </h4> Description
                            </div>
                        </li>                        
                        <li ng-click="openComponent('Com')" ng-class="(tabItem == 'Com') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-cogs " aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    COM
                  </h4> Description
                            </div>
                        </li>
                        <li ng-click="openComponent('db')" ng-class="(tabItem == 'db') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-database" aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    DB
                  </h4> Description
                            </div>
                        </li>

                        <li ng-click="openComponent('Messaging')" ng-class="(tabItem == 'Messaging') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    MQ
                  </h4> Description
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.todo -->
            </div>
            <!-- /.col-xs-4 -->
            <div class="col-xs-9">
                <!-- Main dashboard -->
                <div class="row mainContents" ng-show="showItem =='Main'">
                    <div class="col-xs-12">
                        <div class=" sterlingMainDash col-xs-12 fix" ng-click= openComponent('Sterling')>
                            <div class="tile " style="height:160px; ">
                                <h4 class="demo-panel-title">Sterling</h4>
                                <div class="col-xs-3">
                                    <div class="pallete-item">
                                        <dl class="palette" ng-class="choseHealthColor(sterlingConnectionCountHealthStatus)">
                                            <dt>Connection count</dt>
                                            <dd class="inline"><i class="fa" ng-class="choseHealthIcon(sterlingConnectionCountHealthStatus)" aria-hidden="true"></i></dd>
                                            <dd class="inline">{{sterlingConnectionCountHealthStatus}}</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="pallete-item faa-parent animated-hover">
                                        <dl class="palette" ng-class="choseHealthColor(sterlingProbeHealthStatus)">
                                            <dt>Probe Failure</dt>
                                            <dd class="inline">
                                                <i class="fa" ng-class="choseHealthIcon(sterlingProbeHealthStatus)" aria-hidden="true"></i>
                                            </dd>
                                            <dd class="inline">{{sterlingProbeHealthStatus}}</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="pallete-item">
                                        <dl class="palette" ng-class="choseHealthColor(sterlingSpaceHealthStatus)">
                                            <dt>Space availability</dt>
                                            <dd class="inline">
                                                <i class="fa" ng-class="choseHealthIcon(sterlingSpaceHealthStatus)" aria-hidden="true"></i>
                                            </dd>
                                            <dd class="inline">{{sterlingSpaceHealthStatus}}</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="pallete-item">
                                        <dl class="palette" ng-class="choseHealthColor(sterlingAgentHealthStatus)">
                                            <dt>Agents</dt>
                                            <dd class="inline">
                                                <i class="fa" ng-class="choseHealthIcon(sterlingAgentHealthStatus)" aria-hidden="true"></i>
                                            </dd>
                                            <dd class="inline">{{sterlingAgentHealthStatus}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tile" ng-click="openComponent('Stores')">
                            <h4 class="demo-panel-title">Stores</h4>
                            <div id="donutchartForStoreMainDash" style="width: 100%; height: 200px;"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tile" ng-click="openComponent('Com')">
                            <h4 class="demo-panel-title">COM</h4>
                            <div id="donutchartForComMainDash" style="width: 100%; height: 200px;"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tile" ng-click="openComponent('db')">
                            <h4 class="demo-panel-title">Database</h4>
                            <div id="donutchartForDBMainDash" style="width: 100%; height: 200px;"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tile" ng-click="openComponent('Messaging')">
                            <h4 class="demo-panel-title">MQ</h4>
                            <div id="donutchartForMQMainDash" style="width: 100%; height: 200px;"></div>
                        </div>
                    </div>
                </div>
                <div class="row sterlingContents" ng-show="showItem == 'Sterling'">
<!--                 <div class="col-xs-6">
                    <h4 class="demo-panel-title">Connection counts</h4>                    
                </div>
                <div class="col-xs-6">
                    <h4 class="demo-panel-title">Connection counts</h4>
                </div> -->
                <h4>
                    <div class="floatLeft inline">Connection counts</div>
                    <div class="floatRight inline">Probe failure</div>
                </h4>
                    <div class="pure-g">
                        <div class="l-box-lrg pure-u-1 pure-u-md-1-2 chartcontainer">
                            <c3chart bindto-id="connectionCount-chart">
                                <chart-column column-id="Red" column-values="70" column-type="donut" column-color="#e74c3c" />
                                <chart-column column-id="Amber" column-values="35" column-type="donut" column-color="#e67e22" />
                                <chart-column column-id="Green" column-values="60" column-type="donut" column-color="#2ecc71" />
                                <chart-donut title="" width="60" />
                            </c3chart>
                        </div>
                        <div class="l-box-lrg pure-u-1 pure-u-md-1-2 chartcontainer">
                            <c3chart bindto-id="probeFailure-chart">
                                    <chart-column column-id="Red" column-values="70" column-type="pie" column-color="#e74c3c" />
                                    <chart-column column-id="Amber" column-values="35" column-type="pie" column-color="#e67e22" />
                                    <chart-column column-id="Green" column-values="60" column-type="pie" column-color="#2ecc71" />
                                    <chart-pie expand="true" />
                                </c3chart>
                        </div>
                    </div>                    
                    <!-- c3js chart -->
                    <!-- <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" style="width: 569px !important;height: 305px !important; display: block;">
                    </canvas> -->
                    <h4 class="demo-panel-title">Agents</h4>
                    <c3chart bindto-id="stacked-bar-plot1-chart" style="width: 100%; height: 200px;">
                        <chart-column column-id="data 1" column-name="Agent Down" column-color="#e74c3c" column-values="30,200,100,400,150,250,12,12,324" column-type="bar" />
                        <chart-column column-id="data 2" column-name="Agent Up" column-color="#2ecc71" column-values="50,20,10,40,15,25,122,122,12" column-type="bar" />
                        <chart-group group-values="data 1,data 2" />
                    </c3chart>
                </div>
                <div class="row comContents" ng-show="showItem == 'Com'">
                </div>
                <div class="row dbContents" ng-show="showItem == 'db'">
                </div>
                <div class="row storesContents" ng-show="showItem == 'Stores'">
                    <!-- <div class="col-xs-6">
                        <div class="tile"> -->
                    <h3>Local Store</h3>
                    <!--                     <div style="width: 100%; height: 400px;">
                        <div class="tile"> -->
                    <div class="pure-g">
                        <div class="l-box-lrg pure-u-1 pure-u-md-1-2 chartcontainer">
                            <c3chart bindto-id="pie-plot1-chart">
                                <chart-column column-id="Red" column-values="70" column-type="donut" column-color="#e74c3c" />
                                <chart-column column-id="Amber" column-values="35" column-type="donut" column-color="#e67e22" />
                                <chart-column column-id="Green" column-values="60" column-type="donut" column-color="#2ecc71" />
                                <chart-donut title="Local Stores" width="60" />
                            </c3chart>
                        </div>
                        <div class="l-box-lrg pure-u-1 pure-u-md-1-2 chartcontainer">
                            <c3chart bindto-id="pie-plot1-chart1">
                                    <chart-column column-id="Red" column-values="70" column-type="pie" column-color="#e74c3c" />
                                    <chart-column column-id="Amber" column-values="35" column-type="pie" column-color="#e67e22" />
                                    <chart-column column-id="Green" column-values="60" column-type="pie" column-color="#2ecc71" />
                                    <chart-pie expand="true" />
                                </c3chart>
                        </div>
                    </div>
                    <!-- </div>
                    </div> -->
                    <!--                     <h4 class="demo-panel-title">Unsynced Deltas</h4>
                    <div style="width: 100%; height: 400px;">
                        <div class="tile">
                            <c3chart bindto-id="pie-plot1-chart1">
                                <chart-column column-id="Red" column-values="70" column-type="pie" column-color="#e74c3c" />
                                <chart-column column-id="Amber" column-values="35" column-type="pie" column-color="#e67e22" />
                                <chart-column column-id="Green" column-values="60" column-type="pie" column-color="#2ecc71" />
                                <chart-pie expand="true" />
                            </c3chart>
                        </div>
                    </div> -->
                </div>
                <div class="row messagingContents" ng-show="showItem == 'Messaging'">
                </div>
            </div>
        </div>
        <div class="row" id="footer">
<small>(C) The Home Depot</small>
        </div>
    </div>
    <script src="https://use.fontawesome.com/a75f07affe.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/homeController.js"></script>
</body>

</html>
