<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<!-- Loading scripts -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="js/lib/d3.min.js" charset="utf-8"></script>
<script src="js/lib/c3.min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/jquery-1.9.1.min.js"></script>
<script src="js/lib/c3-angular.min.js"></script>
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<!-- Loading CSS -->
<!-- Loading Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Load app stlye sheet -->
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" href="bower_components/font-awesome-animation/dist/font-awesome-animation.min.css">
<link href="css/c3.min.css" rel="stylesheet" type="text/css" />
<!-- Loading Flat UI -->
<link href="css/flat-ui.css" rel="stylesheet">

<link rel="stylesheet" href="css/pure-min.css">
<link rel="stylesheet" href="css/grids-responsive-min.css">


<body>
    <div id="container" ng-controller="homeController">
        <div class="row topHeader dark" ng-click="openComponent('Main')">
            <div class="col-xs-1">
                <a href="#">
                    <img src="images/thd-logo.png" style="width:100px" />
                </a>
            </div>
            <div class="col-xs-10">
                <h2 class="white">COM Infrastructure Health</h2></div>
            <div class="col-xs-1">
                <div id="refresh">
                    <i class="fa fa-2x fa-refresh ro green" aria-hidden="true"></i>
                    <div class="countDown_text" style="text-align:right"> </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="todo">
                    <ul>
                        <li ng-click="openComponent('Main')" ng-class="(tabItem == 'Main') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-tachometer" aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    Dashboard
                  </h4>
                            </div>
                        </li>
                        <li ng-click="openComponent('Sterling')" ng-class="(tabItem == 'Sterling') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-server" aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    Sterling
                  </h4>
                            </div>
                        </li>
                        <li ng-click="openComponent('Stores')" ng-class="(tabItem == 'Stores') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-shopping-cart" aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    Stores
                  </h4>
                            </div>
                        </li>
                        <li ng-click="openComponent('Com')" ng-class="(tabItem == 'Com') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-cogs " aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    COM
                  </h4>
                            </div>
                        </li>
                        <li ng-click="openComponent('db')" ng-class="(tabItem == 'db') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-database" aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    DB
                  </h4>
                            </div>
                        </li>
                        <li ng-click="openComponent('Messaging')" ng-class="(tabItem == 'Messaging') ? 'todo-done':''">
                            <div class="todo-icon">
                                <i class="fa fa-2x fa-hdd-o" aria-hidden="true"></i>
                            </div>
                            <div class="todo-content">
                                <h4 class="todo-name">
                    MQ
                  </h4>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.todo -->
            </div>
            <!-- /.col-xs-4 -->
            <div class="col-xs-9">
                <!-- Main dashboard -->
                <div class="row mainContents" ng-show="showItem =='Main'">
                    <div class="col-xs-12">
                        <div class=" sterlingMainDash col-xs-12 fix" ng-click=openComponent('Sterling')>
                            <div class="tile " style="height:160px; ">
                                <h4 class="demo-panel-title white">Sterling</h4>
                                <div class="col-xs-3">
                                    <div class="pallete-item">
                                        <dl class="palette" ng-class="choseHealthColor(sterlingConnectionCountHealthStatus)">
                                            <dt>Connection count</dt>
                                            <dd class="inline"><i class="fa" ng-class="choseHealthIcon(sterlingConnectionCountHealthStatus)" aria-hidden="true"></i></dd>
                                            <dd class="inline">{{sterlingConnectionCountHealthStatus}}</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="pallete-item faa-parent animated-hover">
                                        <dl class="palette" ng-class="choseHealthColor(sterlingProbeHealthStatus)">
                                            <dt>Probe Failure</dt>
                                            <dd class="inline">
                                                <i class="fa" ng-class="choseHealthIcon(sterlingProbeHealthStatus)" aria-hidden="true"></i>
                                            </dd>
                                            <dd class="inline">{{sterlingProbeHealthStatus}}</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="pallete-item">
                                        <dl class="palette" ng-class="choseHealthColor(sterlingSpaceHealthStatus)">
                                            <dt>Space availability</dt>
                                            <dd class="inline">
                                                <i class="fa" ng-class="choseHealthIcon(sterlingSpaceHealthStatus)" aria-hidden="true"></i>
                                            </dd>
                                            <dd class="inline">{{sterlingSpaceHealthStatus}}</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="pallete-item">
                                        <dl class="palette" ng-class="choseHealthColor(sterlingAgentHealthStatus)">
                                            <dt>Agents</dt>
                                            <dd class="inline">
                                                <i class="fa" ng-class="choseHealthIcon(sterlingAgentHealthStatus)" aria-hidden="true"></i>
                                            </dd>
                                            <dd class="inline">{{sterlingAgentHealthStatus}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tile" ng-click="openComponent('Stores')">
                            <h4 class="demo-panel-title white">Stores</h4>
                             
                            <div id="donutchartForStoreMainDash" style="width: 100%; height: 250px;">
<loading></loading>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tile" ng-click="openComponent('Com')">
                            <h4 class="demo-panel-title white">COM</h4>
                            
                            <div id="donutchartForComMainDash" style="width: 100%; height: 250px;">
 <loading></loading>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tile" ng-click="openComponent('db')">
                            <h4 class="demo-panel-title white">Database</h4>
                           
                            <div id="donutchartForDBMainDash" style="width: 100%; height: 250px;">
<loading></loading>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tile" ng-click="openComponent('Messaging')">
                            <h4 class="demo-panel-title white">MQ</h4>

                            <div id="donutchartForMQMainDash" style="width: 100%; height: 250px;">
<loading></loading>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row sterlingContents" ng-show="showItem == 'Sterling'">
                    <div>
                        <div class="col-xs-4" style="text-align:center !important">
                            <h4 class="">Connection Counts</h4>
                            <div class="">
                                <c3chart bindto-id="connectionCount-chart">
                                    <chart-column column-id="Red" column-values="70" column-type="donut" column-color="#e74c3c" />
                                    <chart-column column-id="Amber" column-values="35" column-type="donut" column-color="#e67e22" />
                                    <chart-column column-id="Green" column-values="60" column-type="donut" column-color="#2ecc71" />
                                    <chart-donut title="" width="60" />
                                </c3chart>
                            </div>
                        </div>
                        <div class="col-xs-4 centerText">
                            <h4 class="">Probe Failure</h4>
                            <div class="">
                                <c3chart bindto-id="probeFailure-chart">
                                    <chart-column column-id="Red" column-values="70" column-type="pie" column-color="#e74c3c" />
                                    <chart-column column-id="Amber" column-values="35" column-type="pie" column-color="#e67e22" />
                                    <chart-column column-id="Green" column-values="60" column-type="pie" column-color="#2ecc71" />
                                    <chart-pie expand="true" />
                                </c3chart>
                            </div>
                        </div>
                        <div class="col-xs-4 centerText">
                            <h4>Space availability</h4>
                            <div class="">
                                <c3chart bindto-id="spaceAvailabiityCount-chart">
                                    <chart-column column-id="Red" column-values="70" column-type="pie" column-color="#e74c3c" />
                                    <chart-column column-id="Amber" column-values="35" column-type="pie" column-color="#e67e22" />
                                    <chart-column column-id="Green" column-values="60" column-type="pie" column-color="#2ecc71" />
                                    <chart-pie expand="true" />
                                </c3chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="margin-top:15px">
                        <h4 class="demo-panel-title">Agents</h4>
                        <c3chart bindto-id="stacked-bar-plot1-chart" style="width: 100%; height: 250px;">
                            <chart-column column-id="data 1" column-name="Agent Down" column-color="#e74c3c" column-values="30,200,100,400,150,250,12,12,324" column-type="bar" />
                            <chart-column column-id="data 2" column-name="Agent Up" column-color="#2ecc71" column-values="50,20,10,40,15,25,122,122,12" column-type="bar" />
                            <chart-group group-values="data 1,data 2" />
                        </c3chart>
                    </div>
                </div>
                <div class="row comContents" ng-show="showItem == 'Com'">
                    <h4>
                    <div class="floatLeft inline">COM Order JVM</div>
                    <div class="floatRight inline">COM Inventory JVM</div>
                </h4>
                    <div class="pure-g">
                        <div class="l-box-lrg pure-u-1 pure-u-md-1-2 chartcontainer">
                            <c3chart bindto-id="comOrder-chart" chart-data="comOrderDonutsPts" chart-columns="donutColumns" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-donut expand="true" width="60" show-label="true" title="Servers" label-format-function="formatDonut" />
                            </c3chart>
                        </div>
                        <div class="l-box-lrg pure-u-1 pure-u-md-1-2 chartcontainer">
                            <c3chart bindto-id="comInventory-chart" chart-data="comInventoryDonutsPts" chart-columns="donutColumns" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-donut expand="true" width="60" show-label="true" title="Servers" label-format-function="formatDonut" />
                            </c3chart>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="row"></div>
                    <div class="batchSessionChart">
                        <h4 class="centerText">Batch Session</h4>
                        <c3chart bindto-id="batchSession-gauge-chart" chart-data="batchSessionGaugePts" chart-columns="batchSessionGaugeColumn">
                            <chart-gauge min="0" max="12000" units=" count" width="40" label-format-function="formatDonut" />
                        </c3chart>
                    </div>
                </div>
                <div class="row dbContents" ng-show="showItem == 'db'">
                    <div class="col-xs-6 centerText">
                        <h4>Sterling DB</h4>
                        <div>
                            <c3chart bindto-id="sterlingDB-chart" chart-data="sterlingDbDonutsPts" chart-columns="pieColumns" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-pie expand="true" width="60" show-label="true" title="delta" label-format-function="formatDonut" />
                            </c3chart>
                        </div>
                    </div>
                    <div class="col-xs-6 centerText">
                        <h4>ODS DB</h4>
                        <div>
                            <c3chart bindto-id="odsDB-chart" chart-data="odsDbDonutsPts" chart-columns="pieColumns" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-pie expand="true" width="60" show-label="true" title="delta" label-format-function="formatDonut" />
                            </c3chart>
                        </div>
                    </div>
                    <div class="ggReplicationChart col-xs-12">
                        <h4 class="centerText">GG Replication</h4>
                        <c3chart bindto-id="ggReplication-gauge-chart" chart-data="ggReplicaGaugePts" chart-columns="ggReplicaGaugeColumn">
                            <chart-gauge min="0" max="180" units=" mins" width="40" label-format-function="formatDonut" />
                        </c3chart>
                    </div>
                </div>
                <div class="row storesContents" ng-show="showItem == 'Stores'">
                    <div class="col-xs-6 centerText">
                        <h4>Local Store</h4>

                        <div>
                            <c3chart bindto-id="localStore-pie-chart" chart-data="localStoreDonutsPts" chart-columns="donutColumns" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-donut expand="true" width="60" show-label="true" title="Local Charts" />
                            </c3chart>
                        </div>
                    </div>
                    <div class="col-xs-6 centerText">
                        <h4>Un synched Deltas</h4>
                        <div>
                            <c3chart bindto-id="unSyncDelta-pie-chart" chart-data="unSyncDeltaDonutsPts" chart-columns="pieColumns" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-pie expand="true" width="60" show-label="true" title="delta" label-format-function="formatDonut" />
                            </c3chart>
                        </div>
                    </div>
                </div>
                <div class="row messagingContents" ng-show="showItem == 'Messaging'">
                    <div class="col-xs-6 centerText">
                        <h4>COM Queue Depth</h4>
                        <div>
                            <c3chart bindto-id="comQueue-chart" chart-data="comQueueDonutsPts" chart-columns="pieColumns" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-pie expand="true" width="60" show-label="true" title="delta" />
                            </c3chart>
                        </div>
                    </div>
                    <div class="col-xs-6 centerText">
                        <h4>Sterling Queue Depth</h4>
                        <div>
                            <c3chart bindto-id="sterlingQueue-chart" chart-data="sterlingQueueDonutsPts" chart-columns="pieColumns" sort-data="null">
                                <chart-legend show-legend="true" />
                                <chart-pie expand="true" width="60" show-label="true" title="delta" />
                            </c3chart>
                        </div>
                    </div>
                    <div class="transmitQueueChart">
                        <h4 class="centerText">Transmit Queues</h4>
                        <c3chart bindto-id="transmitQueue-gauge-chart" chart-data="transmitGaugePts" chart-columns="transmitGaugeColumn">
                            <chart-gauge min="0" max="10000" units=" count" width="40" label-format-function="formatDonut" />
                        </c3chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="row lite" id="footer">
            <small>(C) The Home Depot</small>
            <br>
            <small>More saving. More doing.&#174;</small>
        </div>
    </div>
    <script src="https://use.fontawesome.com/a75f07affe.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/homeController.js"></script>

</body>

</html>
